Compile/
Testing/
Logs/
Icons/
Windows/
Archives/
TheTesterGroup/
Documentation/Readme/*
__pycache__/
!Download.html
PatchIt-Compatible.html
#*.html
*.txt
*.py*
*.pdf
*.db
*.log
*.tar
*.zip
*.md
*settings*
!.ico
!.js
!.gif