Compile/
bin/*
Updater/bin/*
Testing/
Logs/
Icons/
Windows/
Archives/
TheTesterGroup/
Documentation/Readme/*
__pycache__/
!Download.html
PatchIt-Compatible.html
#*.html
*.exe
*.txt
*.py*
*.pdf
*.db
*.log
*.tar
*.zip
*.md
*.cfg
*settings*
!.ico
!.js
!.gif
